<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  {{#if Review.length}}
  <div class="col-md-6 project-list">
    <h3>Current Reviews:</h3>

    {{#each Review as |Review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{Review.id}}">{{Review.Review}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{Review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
<script src="./js/game.js"></script>

