<nav class='navbar'>
  <ul class='flex-row'>
    <li class='li-inline nav-item'><a href='/'>Home</a></li>
    <li class='li-inline nav-item'><a href='#' id='logout'>Logout</a></li>
  </ul>
</nav>
<div class='row'>
  <div class='welcomeDude'>
    <h2>Welcome, {{User.user_name}}!</h2>
  </div>
</div>
<div class='welcomeDude'>
  <button class='btn btn-primary' id='btn-add-review'><a href='/new'>➕New
      Review</a></button>
  {{#if Review.length}}
    <div class='col-md-6 review-list'>
      <h3>Current Reviews:</h3>

      {{#each reviews as |Review|}}
        <div class='review-list'>
          <div class='row mb-2'>
            <div class='col-md-8'>
              <h4><a href='/review/{{id}}'>{{game_title}}</a></h4>
            </div>
            <div class='col-md-4'>
              <button
                class='btn btn-sm btn-danger delete-review'
                data-id='{{id}}'
              >DELETE</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
<script src='./js/logout.js'></script>
<script src='./js/profile.js'></script>
<script src='./js/new-review.js'></script>