{{#each reviews as |review|}}
  <div class='card review-cards'>
    <div class='card-header'>
      <div class='media'>
        <div class='media-content'>
          <p class='title is-4'>{{game_title}}</p>
        </div>
      </div>
      <div class='card-content'>
        <p> Review: {{reviews}} </p>
      </div>
    </div>
  </div>
{{/each}}