<div class="container review">
    <div class="card review-card">
        <div class="card-header review-title">
            <h2>{{game-title}}</h2>
            <div>
                Posted by {{review.User.username}} on {{review.date_created}}
            </div>
        </div>
        <div class="card-content">
            {{review}}
        </div>
    </div>
</div>